* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

nav {
    height: 80px;
    background:rgb(252, 252, 252);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 50px 0px 100px;
}

nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    color:black;
    text-decoration: none;
    font-size:18px;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 10px;
    transition: all 0.3s ease;
}
nav ul li a:hover, 
nav ul li a.active {
    background: rgb(84, 202, 149);
    color:white;
}

nav .menu-btn i{
    color:black;
    font-size: 22px;
    display: none;

}
   #click {
        display: none;
    }
    
@media  ( max-width: 940px) {
    nav .menu-btn i{
display:block ; 
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul {
        position:fixed;
        top:80px;
        left:-100px;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul {
        left:0;
        background:rgb(84, 202, 149);
    }
        nav ul li {
        margin: 40px 0;
        width: 100%;
    }
    nav ul li a {
         width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
    margin-left: 0px;
  }
 
    nav ul li a:hover,
    nav ul li a.active {
        color:white;
        background: none;
    }
}
.logo {
    font-size: 28px;
    font-weight: 700;
    padding: 0.5%;
    color:black;
}
.logo span {
    font-weight: 200;
    color:black;
}

.logo-symbol {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: rgb(84, 202, 149);
    border-bottom-color: rgb(84, 202, 149);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    color:white;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
    margin-top:4px;
    font-family: 'Abel',sans-serif;
    border-right-color: rgb(84, 202, 149);
    border-left-color: rgb(84, 202, 149);
    border-top-color: rgb(84, 202, 149);
    box-sizing: border-box;
}
.logo-symbol:hover {
    background-color: white;
    color:rgb(84, 202, 149);
    cursor: pointer;

}


.container {
    padding:100px;
    font-size: 50px;
}

.container h4 {
    text-align: center ;
  justify-content: center;
}
.container p {
    font-size: 22px;
    text-align: center;
}


.photo  {
   max-width: 400px;
   position: relative;
   margin: auto;
}
.photo img {
    width: 100%;
    border: 10px solid rgba(195, 206, 195, 0.918);
    border-radius: 402px;
    box-sizing: border-box;
}
.photo img:hover {
    background-color: rgb(25, 31, 32);
}
@media (min-width: 800px) {
	.photo img {
		grid-column: span 2;
		grid-row: span 2;
	}
}




.footer {
	padding: 15px;
	background-color:rgb(84, 202, 149);
	grid-area: footer;
	align-items: center;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 500px) minmax(auto, 1100px) 1fr;
    color:white;
}

@media (min-width: 550px) {
	.footer__copy {
		grid-column: 2 / 3;
        text-align: center;
	}
	.footer__text {
		grid-column: 3 / 4;
		text-align: center;
	}
}
@media (max-width: 550px) {
	.footer {
		grid-template: 1fr 1fr / 1fr;
		justify-items: center;
	}
	.footer__copy {
		order: 2;
	}
	.footer__text {
		order: 1;
	}
}


.header {
    border:rgba(0, 0, 0, 0.116)  1px solid;
    padding: 50px;
    font-weight: bold;
    background-color: rgba(243, 241, 241, 0.918);
    font-size: 30px;
}

.number {
    align-items: center;
    font-size: 20px;
padding:40px;
text-decoration: rgb(84, 202, 149);
justify-content: center;
}
.number img {
    align-items:center;
    background-image: url(images/—Pngtree—mobile\ phone\ mockup_5865909.png);
    width: 50px;
    padding:0;
    justify-content: center;
}


.city {
    align-items: center;
        font-size: 20px;
padding:40px;
text-decoration: rgb(84, 202, 149);
justify-content: center;
}
.city img {
    align-items: center;
    background-image: url(images/—Pngtree—location\ vector\ icon_3757885.png);
    width: 50px;
    padding:0;
    justify-content: center;
}
.email {
    align-items: center;
        font-size: 20px;
padding:40px;
justify-content: center;
}
.email img {
    align-items: center;
    background-image: url(images/—Pngtree—location\ vector\ icon_3757885.png);
    width: 50px;
    padding:0;
    justify-content: center;
}
/*
.form {

    align-items: top;
    text-align:center;
    justify-content: flex-start;
    margin:auto;
    height:50vh;
}
.form p {
    font-size: 39px;
    justify-content: flex-start;
    text-align: center;
margin-top: 300px;
}
*/

.content {
}
.content__gallery {
	margin: 0px 0px 40px 0px;
}

@media (min-width: 992px) {
	.main {
		grid-area: main;
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	}
	.content {
		grid-column: 3 / 4;
		padding: 0px 0px 0px 30px;
	}
	.sidebar {
		margin: 0;
		grid-column: 2 / 3;
	}
}

.gallery {
}
.gallery__items {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
	background-color:cadetblue;
	padding: 0px 0px 85% 0px;
	position: relative;
}
.gallery__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

@media (min-width: 800px) {
	.gallery__item_big {
		grid-column: span 2;
		grid-row: span 2;
	}
}